@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200 & family= Poppins & family= Roboto & display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

/*--inicia barra de navegación--*/

.navbar {
    background-color:#ea1e52;
    min-height: 90px;
    
}
.navbar span {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    /*box-shadow: 1px 1px 10px*/
    
}

.navbar-toggler {
    border:none;
}

.navbar-toggler i {
    color:#3666fe;
    
}

.navbar .nav-link {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2px;

}

.nav-link:hover {
    background-color: #3666fe ;
    border-radius: 4px;
    transition: 0.5 s;
}

/*--fin barra de navegación--*/

.main1 {
    width: 100%;
    background-color:#fe8a1f;
}

/*--inicia carrusel--*/

.container {

    width: 100%;
  
}

#carouselhome img{
 object-fit: cover;
 height: 500px;
}

.carousel-caption {
    background-color: rgba(41, 23, 1, 0.75);
    text-align: center;
    margin-bottom: 100px;
}

/*--fin carrusel--*/

/*--inicio hacemos que tu marca se destaque--*/



.marcah2 {
    background-color:#ea1e52;
    color: black;
    text-align: center;
    padding: 30px;
    margin-bottom: 0;
    }

    .marca{
        width: 100%;
        height: auto;
        background-color:#fe8a1f;
        }

 .nleft {
    height: 400px;
    width: 450px;
    background-image: url(/img/carrucel1/WhatsApp\ Image\ 2023-04-15\ at\ 11.06.45.jpeg);
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    margin-top: 30px;
    

 }

 .ncenter {
    width: 450px;
    height: 400px;
    background-image: url(./img/carrucel1/picada.jpeg);
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    margin-top: 30px;
 }

 .nright {
    margin-top: 60px;
    text-align: center;
    background-color: rgba(41, 23, 1, 0.30);
    margin-left: 30px;
    height: 300px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

 }












/*---inicio sobre nosotros---*/

/*--jumbotron2--*/

.jumbotron2 
{
background-color: #d36f98;
width: 100%;
height: 500px;
background-position: center;
}

.j2 {

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 60px;

}

.p2{
    margin-left: 30px;
    margin-top:60px;
    scroll-behavior: smooth;

}

.agencia {
    background-color: #ef4c5e;
}
